.productCard {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    row-gap: 5px;
    border: 1px solid gainsboro;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    &:hover {
        scale: 1.1;
        transition: all 0.2s ease-out;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        text-decoration: none;
    }

    &__title {
        font-size: 15px;
        text-align: center;
        color:  #292c32;
        &:hover {
            color:  #94969b;
        }
    }

    &__img {
        width: 200px;
        height: 180px;
        object-fit: cover;
    }

    &__title, &__price {
        margin: 0;
        text-align: center;
    }

    &__descr {
        font-size: 12px;
        text-align: center;
    }

    &__readMore {
        text-decoration: none;
        font-weight: 600;
        color: #292c32;
        &:hover {
            color:  #94969b;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
    }

    &__amount {
        font-weight: 600;
    }

    &__btn {
        border: 1px solid transparent;
        border-radius: 6px;
        padding: 3px 7px;
        color: white;
        background-color: #292c32;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            background-color: white;
            border: 1px solid #292c32;
            color: #292c32;
        }
    }
}

.productCardEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    row-gap: 5px;
    border: 1px solid gainsboro;
    text-decoration: none;
    padding: 10px;

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__img {
        width: 100px;
        // height: 180px;
        object-fit: cover;
    }
}

