.home {
    background-image: url('./BlogImage.webp');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    overflow: hidden;
}